.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

body,
html {
    height: 100vh;
}

body {
    background-color: #5a5a5a;
    margin: 0%;
}

.toolbar-btn-image {
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding: 0 0 0 0;
}

#toolbar {
    background-color: #232323;
}

#bodyContainer {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

#componentListToggle {
    background-color: #2e2e2e;
    color: white;
    width: 35px;
}

#componentList {
    position: absolute;
    top: 0px;
    z-index: 999;
}

#itemList {
    background-color: #363636;
    color: white;
    width: 200px;

}

.custom-button {
    width: 185px;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.custom-button img {
    filter: brightness(0) invert(1);
    /* Invert image color to white */
}

.custom-button span {
    flex-grow: 1;
    text-align: center;
}

#propertyPLBTn
{
    background-color: #2E2E2E;
    color: white;
    width: 35px; 
    height: 100%;
    position: absolute;
    
}
#propertyPanel
{
    margin-top: -1080px;
    margin-right: 35px;
    text-align: right;
}
#propertylist
{
    background-color: #363636;
    color: white;
    width: 500px;
    height: 100%;
    position: absolute;
    text-align: right;
    margin: 0;
    top: 50%;
    left: 99%;
    margin-right: 50%;
    transform: translate(-50%, -50%) 
}

#myDIV {
    height: 250px;
    width: 250px;
    overflow: auto;
  }
  
  #content {
    height: 800px;
    width: 2000px;
    background-color: coral;
  }

  #saveBtn
  {
    background-color: #363636;
    color: white;
    position: relative;
    height: 50px;
    width: 100px;
    text-align: center;
    margin-left: auto;
  }